<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="\MSP\SecuritySuiteCommon\Api\SessionInterface" type="\MSP\SecuritySuiteCommon\Model\Session"/>
    <preference for="\MSP\SecuritySuiteCommon\Api\LockDownInterface" type="\MSP\SecuritySuiteCommon\Model\LockDown"/>
    <preference for="\MSP\SecuritySuiteCommon\Api\AlertInterface" type="\MSP\SecuritySuiteCommon\Model\Alert"/>
</config>
