<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

  <preference for="\MSP\SecuritySuiteCommon\Api\Data\LogInterface" type="\MSP\SecuritySuiteCommon\Model\Log"/>
  <preference for="\MSP\SecuritySuiteCommon\Api\LogRepositoryInterface" type="\MSP\SecuritySuiteCommon\Model\LogRepository"/>
  <preference for="\MSP\SecuritySuiteCommon\Api\Data\LogSearchResultsInterface" type="\Magento\Framework\Api\SearchResults"/>
  <preference for="\MSP\SecuritySuiteCommon\Api\LogManagementInterface" type="\MSP\SecuritySuiteCommon\Model\LogManagement"/>
</config>
